<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul class="parts-list">
          <li>
            <a href="/part-one">P1: Processes & Threads</a>
            <ul class="chapters-list">
              <li><a>Processes</a></li>
              <li><a href="">Threads</a></li>
              <li><a href="">Interprocess Communication</a></li>
              <li><a href="">Scheduling</a></li>
            </ul>
          </li>
          <li>
            <a href="/part-two">P2: Memory Management</a>
            <ul class="chapters-list">
              <li><a>Memory Abstraction: Address Spaces</a></li>
              <li><a href="">Virtual Memory</a></li>
              <li><a href="">Paging, Replacement & Issues</a></li>
              <li><a href="">Segmentation</a></li>
            </ul>
          </li>
          <li>
            <a href="/part-three">P3: File Systems</a>
            <ul class="chapters-list">
              <li><a href="">Files</a></li>
              <li><a href="">Directories</a></li>
              <li><a href="">File-System Implementation</a></li>
              <li><a href="">File-System Management & Optimization</a></li>
              <li><a href="">Example File Systems</a></li>
            </ul>
          </li>
          <li>
            <a href="">P4: Input/Output</a>
            <ul class="chapters-list">
              <li><a href="">Principles of I/O Hardware</a></li>
              <li><a href="">Principles of I/O Software</a></li>
              <li><a href="">I/O Software Layers</a></li>
              <li><a href="">Disks</a></li>
              <li><a href="">Clocks</a></li>
              <li><a href="">UIs: Keyboards, Mice, Monitor</a></li>
              <li><a href="">Power Management</a></li>
            </ul>
          </li>
          <li>
            <a href="">P5: Deadlocks</a>
            <ul class="chapters-list">
              <li><a href="">Resources</a></li>
              <li><a href="">Intro to Deadlocks</a></li>
              <li><a href="">Ostrich Algorithm</a></li>
              <li><a href="">Deadlock Detection & Recovery</a></li>
              <li><a href="">Deadlock Avoidance</a></li>
              <li><a href="">Deadlock Prevention</a></li>
              <li><a href="">Other Issues</a></li>
            </ul>
          </li>
          <li>
            <a>P6: Virtualization & Cloud</a>
            <ul class="chapters-list">
              <li><a>History</a></li>
              <li><a>Requirements</a></li>
              <li><a>Type 1 and Type 2 Hypervisors</a></li>
              <li><a>Techniques for Efficient Virtualization</a></li>
              <li><a>Are Hypervisors done Right?</a></li>
              <li><a>Memory Virtualization</a></li>
              <li><a>Requirements</a></li>
            </ul>
          </li>
          <li>
            <a>P7: Multi CPU Systems</a>
          </li>
          <li>
            <a>P8: Security</a>
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
