<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="header">
      <nav>
        <ul class="part-list">
          <li>
            <a href="/part-one">Processes & Threads</a>
          </li>
          <li><a href="/part-two">Memory Management</a></li>
          <li><a href="/part-three">File Systems</a></li>
          <li><a href="/part-four">Input/Output</a></li>
          <li><a href="/part-five">Deadlocks</a></li>
          <li>
            <a href="/part-six">Virtualization & Cloud</a>
          </li>
          <li>
            <a class="link-active" href="/part-seven">Multi CPU System</a>
          </li>
        </ul>
      </nav>
    </header>

    <article class="main">
      <h2>Multi CPU Systems</h2>

      <ul class="blog-list">
        <li>
          <a href="/part-seven/multiprocessors">Multiprocessors</a>
        </li>
        <li>
          <a href="/part-seven/multicomputers">Multicomputers</a>
        </li>
        <li>
          <a class="link-active" href="/part-seven/distributed-systems"
            >Distributed Systems</a
          >
        </li>
      </ul>

      <a class="end-link" href="/part-eight">Next part: Security</a>
    </article>
  </body>
</html>
