<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="header">
      <nav>
        <ul class="part-list">
          <li>
            <a href="/part-one">Processes & Threads</a>
          </li>
          <li><a href="/part-two">Memory Management</a></li>
          <li><a href="/part-three">File Systems</a></li>
          <li><a href="/part-four">Input/Output</a></li>
          <li><a href="/part-five">Deadlocks</a></li>
          <li>
            <a href="/part-six">Virtualization & Cloud</a>
          </li>
          <li>
            <a href="/part-seven">Multi CPU System</a>
          </li>
        </ul>
      </nav>
    </header>

    <article class="main">
      <h2>Security</h2>

      <ul class="blog-list">
        <li>
          <a href="/part-eight/security-environment"
            >The Security Environment</a
          >
        </li>
        <li>
          <a href="/part-eight/os-security">Operating Systems Security</a>
        </li>
        <li>
          <a href="/part-eight/access-control"
            >Controlling Access to Resources</a
          >
        </li>
        <li>
          <a href="/part-eight/formal-models"
            >Formal Models of Secure Systems</a
          >
        </li>
        <li>
          <a href="/part-eight/cryptography-basics">Basics of Cryptography</a>
        </li>
        <li>
          <a href="/part-eight/authentication">Authentication</a>
        </li>
        <li>
          <a href="/part-eight/exploiting-software"
            >Exploiting Software</a
          >
        </li>
        <li><a class="link-active" href="/part-eight/insider-attacks">Insider Attacks</a></li>
        <li><a href="/part-eight/malware">Malware</a></li>
        <li><a href="/part-eight/defenses">Defenses</a></li>
      </ul>

      <a class="end-link" href="/part-eight/malware"
        >Next chapter: Malware</a
      >
    </article>
  </body>
</html>
