<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="header">
      <nav>
        <ul class="part-list">
          <li>
            <a href="/part-one">Processes & Threads</a>
          </li>
          <li><a href="/part-two">Memory Management</a></li>
          <li><a href="/part-three">File Systems</a></li>
          <li><a href="/part-four">Input/Output</a></li>
          <li><a href="/part-five">Deadlocks</a></li>
          <li>
            <a class="link-active" href="/part-six">Virtualization & Cloud</a>
          </li>
          <li><a href="/part-seven">Multi CPU System</a></li>
        </ul>
      </nav>
    </header>

    <article class="main">
      <h2>Virtualization & Cloud</h2>

      <ul class="blog-list">
        <li>
          <a href="/part-six/requirements">Requirements for Virtualization</a>
        </li>
        <li>
          <a href="/part-six/hypervisors">Type 1 & Type 2 Hypervisors</a>
        </li>
        <li>
          <a href="/part-six/techniques"
            >Techniques for Efficient Virtualization</a
          >
        </li>
        <li>
          <a href="/part-six/microkernels"
            >Are Hypervisors Microkernels Done Right?</a
          >
        </li>
        <li>
          <a href="/part-six/memory-virtualization">Memory Virtualization</a>
        </li>
        <li><a href="/part-six/io-virtualization">I/O Virtualization</a></li>
        <li><a class="link-active" href="/part-six/clouds">Clouds</a></li>
      </ul>

      <p>
        Virtualization technology played a crucial role in the rise of cloud
        computing.
      </p>
      <p>Essential characteristics of clouds:</p>
      <ol>
        <li>
          <strong>On-demaned self-service:</strong> Users should be able to
          provision resources automatically, without requiring human
          interaction.
        </li>
      </ol>
      <ol>
        <li>
          <strong>Broad network access:</strong> All these resources should be
          available over the network via standard mechanisms so that
          heterogeneous devices can make use of them.
        </li>
      </ol>
      <ol>
        <li>
          <strong>Resource pooling:</strong> The computing resource owned by the
          provider should be pooled to serve multiple users and with the ability
          to assign and reassign resources dynamically.
        </li>
      </ol>
      <ol>
        <li>
          <strong>Rapid elasticity:</strong> It should be possible to acquire
          and release resources elastically, perhaps even automatically, to
          scale immediately with the users' demands.
        </li>
      </ol>
      <ol>
        <li>
          <strong>Measured service:</strong> The cloud provider meters the
          resources used in a way that matches the type of service agreed upon.
        </li>
      </ol>

      <p>
        Clouds can transform the way companies do computing. Overall,
        consolidating the computing resources in a small number of places
        (conveniently located near a power source and cheap cooling) benefits
        from economy of scale.
      </p>
      <p>
        Virtualization technology not only allows IAAS (Infrastructure as a Service) clouds to run multiple
        different operating systems on the same hardware at the same time, it
        also permits clever management.
      </p>

      <a class="end-link" href="/part-seven">Next part: Multi-CPU Systems</a>
    </article>
  </body>
</html>
