<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="header">
      <nav>
        <ul class="part-list">
          <li>
            <a class="link-active" href="/part-one">Processes & Threads</a>
          </li>
          <li><a href="/part-two">Memory Management</a></li>
          <li><a href="/part-three">File Systems</a></li>
          <li><a href="/part-four">Input/Output</a></li>
          <li><a href="/part-five">Deadlocks</a></li>
          <li><a href="/part-six">Virtualization & Cloud</a></li>
          <li><a href="/part-seven">Multi CPU System</a></li>
        </ul>
      </nav>
    </header>

    <article class="main">
      <h2>Processes & Threads</h2>

      <ul class="blog-list">
        <li>
          <a href="/part-one/processes">Processes</a>
        </li>
        <li>
          <a href="/part-one/threads">Threads</a>
        </li>
        <li>
          <a href="/part-one/interprocess-communication"
            >Interprocess Communication</a
          >
        </li>
        <li>
          <a href="/part-one/scheduling">Scheduling</a>
        </li>
      </ul>

      <p>
        The most central concept in any operating system is the process: an
        abstraction of a running program.
      </p>
      <p>
        Processes are one of the oldest and most important abstractions that
        operating systems provide. They support the ability to have (pseudo)
        concurrent operation even when there is only one CPU available.
      </p>
      <p>
        They turn a single CPU into multiple virtual CPUs. Without the process
        abstraction, modern computing could not exist.
      </p>

      <a class="end-link" href="/part-one/processes">Next chapter: Processes</a>
    </article>
  </body>
</html>
